.create-new-event {
    background-color: #FFF;
    border: 2px solid #ffcb05;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 20px;
}

.message {
    font-weight: 700;
    margin-bottom: 6px;
}

.error {
    color: red;
}

.success {
    color: green;
}